header {
  background-color: var(--couleur-fond-fonce);
  color: var(--couleur-fond-clair);

  height: var(--height-main);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
}

main {
  background-color: var(--couleur-fond-clair);
  color: var(--couleur-fond-fonce);
  padding: 3rem 2rem;
  margin: 0 auto;
  max-width: 1000px;
}
main h1 {
  font-size: 2.5rem;
  font-family: "Puritan", cursive;
}
main ul {
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}
main ul li {
  margin-bottom: 0.2rem;
}

main form h2 {
  font-size: 1.5rem;
  font-family: "Puritan", cursive;
}
main form {
  border: 2px solid var(--couleur-fond-fonce);
  border-radius: 10px;
  padding: 1.3rem 0.7rem 0.7rem;
  position: relative;
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
}
main form h2 {
  background-color: var(--couleur-fond-clair);
  padding: 0.2rem;
  width: fit-content;
  display: inline;
  position: absolute;
  top: -1rem;
  left: 0.7rem;
}
main form input {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

main form button {
  background-color: var(--couleur-accents-fonce);
  border: 1px solid var(--couleur-fond-fonce);
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-family: "Hind Madurai", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--couleur-fond-clair);
}